version: "3.9"

services:
  api:
    build: .
    container_name: fastapi_api
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/appdb
      REDIS_URL: redis://redis:6379/0
    volumes:
      - .:/app
    #command: uv run uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  db:
    image: postgis/postgis:16-3.4
    platform: linux/amd64
    container_name: postgres_postgis
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis_instance
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
